<div class="row row-fluid">
    <div class="col-xs-12">

        <!-- TIMELINE HEADERS -->
        <div class="row">
            <div class="col-xs-12">
                <div class="col-xs-1 col-fixed-60 text-center">#</div>
                <div class="col-xs-1 col-fixed-pdd-section text-center">PDD Section name</div>
                <div class="col-xs-1 col-fixed-60 text-center">???</div>
                <% _.each(dayColumns, function(dayColumn) { %>
                    <div class="col-xs-1 text-center col-fixed-timeline-day js-timeline-day-header-<%=dayColumn.dayIndex%>"></div>
                <% }) %>
                <div class="col-xs-1 col-fixed-60 text-center no-padding">Lecture</div>
                <div class="col-xs-1 col-fixed-60 text-center no-padding">Study</div>

                <div class="col-xs-1 col-fixed-60 text-center no-padding">Tests</div>
                <div class="col-xs-1 col-fixed-60 text-center no-padding">Avg %</div>

                <div class="col-xs-1 col-fixed-60 text-center no-padding">Last test</div>
                <div class="col-xs-1 col-fixed-60 text-center no-padding">Success</div>
            </div>
        </div>

        <!-- TIMELINE CELLS -->
        <% _.each(items, function(item) { %>
            <div class="row">
                <div class="col-xs-12">
                    <div class="col-xs-1 col-fixed-60 text-center"><strong><%=item.pddSection.number%></strong></div>
                    <div class="col-xs-1 col-fixed-pdd-section" title="<%=item.pddSection.name%>"><%=item.pddSection.name%></div>
                    <div class="col-xs-1 col-fixed-60 text-center text-muted"><%=item.pddSection.questionsCount%></div>
                    <% _.each(item.timelineDays, function(timelineDay) { %>
                        <div class="col-xs-1 text-center col-fixed-timeline-day js-timeline-day-<%=item.pddSection.number%>-<%=timelineDay.dayIndex%>">&nbsp;</div>
                    <% }) %>
                    <div class="col-xs-1 col-fixed-60 text-center text-muted"><span class="<%=item.timelineItemSummary.lecture ? 'fa fa-check' : ''%>"></span></div>
                    <div class="col-xs-1 col-fixed-60 text-center text-muted"><span class="<%=item.timelineItemSummary.study ? 'fa fa-check' : ''%>"></span></div>

                    <div class="col-xs-1 col-fixed-60 text-center text-muted"><%=item.timelineItemSummary.testsCount%></div>
                    <div class="col-xs-1 col-fixed-60 text-center text-muted"><%=item.timelineItemSummary.testsAveragePercentage%></div>


                    <div class="col-xs-1 col-fixed-60 text-center text-muted"><span class="<%=item.timelineItemSummary.greenStatus ? 'text-success fa fa-check-square-o ' : 'text-danger fa fa-bug'%>"></span></div>
                    <div class="col-xs-1 col-fixed-60 text-center text-muted">
                        <span class="<%=item.timelineItemSummary.greenStatus && item.timelineItemSummary.studySuccess ? 'text-success fa fa-check-square-o ' : 'text-danger fa fa-bug'%>"></span>
                    </div>
                </div>
            </div>
        <% }) %>

        <!-- SUMMARY COLUMNS -->
        <div class="row">
            <div class="col-xs-12">
                <div class="col-xs-1 col-fixed-60">&nbsp;</div>
                <div class="col-xs-1 col-fixed-pdd-section">&nbsp;</div>
                <div class="col-xs-1 col-fixed-60 text-center">&nbsp;</div>
                <% _.each(summaryColumns, function(summaryColumn) { %>
                    <div class="col-xs-1 text-center col-fixed-timeline-day bg-info">
                        <% if(summaryColumn.value > 0) { %>
                            <small class="<%=summaryColumn.value > 90 ? 'text-success' : 'text-danger'%>"><strong><%=summaryColumn.valueFormatted%>%</strong></small>
                        <% } else { %>
                            &nbsp;
                        <% } %>
                    </div>
                <% }) %>
            </div>
        </div>

    </div>
</div>