<div class="row row-fluid">

    <div class="row">
        <div class="col-xs-12">
            <div class="col-xs-1 col-fixed-60 text-center">#</div>
            <div class="col-xs-1 col-fixed-pdd-section text-center">PDD Section name</div>
            <div class="col-xs-1 col-fixed-60 text-center">???</div>
            <% _.each(dayColumns, function(dayColumn) { %>
                <div class="col-xs-1 text-center col-fixed-timeline-day js-timeline-day-header-<%=dayColumn.dayIndex%>"></div>
            <% }) %>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <% _.each(items, function(item) { %>
                <div class="col-xs-1 col-fixed-60 text-center"><strong><%=item.pddSection.number%></strong></div>
                <div class="col-xs-1 col-fixed-pdd-section ">&nbsp;<%=item.pddSection.name%></div>
                <div class="col-xs-1 col-fixed-60 text-center text-muted"><%=item.pddSection.questionsCount%></div>
                <% _.each(item.timelineDays, function(timelineDay) { %>
                    <div class="col-xs-1 text-center col-fixed-timeline-day js-timeline-day-<%=item.pddSection.number%>-<%=timelineDay.dayIndex%>">&nbsp;</div>
                <% }) %>
            <% }) %>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="col-xs-1 col-fixed-60">&nbsp;</div>
            <div class="col-xs-1 col-fixed-pdd-section">&nbsp;</div>
            <div class="col-xs-1 col-fixed-60 text-center">&nbsp;</div>
            <% _.each(dayColumns, function(dayColumn) { %>
                <div class="col-xs-1 text-center col-fixed-timeline-day">&nbsp;</div>
            <% }) %>
        </div>
    </div>

</div>