
<% var questionCount = dayEvents ? dayEvents.questionCount : 0;%>

<% if(dayEvents.lecture) { %>
    <strong class="fa fa-university text-warning" title="Lecture"> <sup><small><%=!dayEvents.testing ? questionCount : ''%></small></sup></strong>
<% } %>

<% if(dayEvents.study) { %>
    <strong class="fa fa-book text-warning" title="Study"> <sup><small><%=!dayEvents.testing ? questionCount : ''%></small></sup></strong>
<% } %>

<% if(dayEvents.testing) { %>
    <% var testing = dayEvents.testing%>
    <small>
        <strong class="<%=dayEvents.testing.passed ? 'text-success' : 'text-danger'%>" title="Testing: <%=testing.passedQuestions%>/<%=testing.totalQuestions%>">
            <span class="<%=testing.percentage == 100 ? 'timeline-day-testing-100' : ''%>"><%=testing.percentageFormatted%>%</span>
            <sup><small><%=questionCount%></small></sup>
        </strong>
    </small>
<% } %>

<% if(dayHints && dayHints.length > 0) { %>
    <% var dayHint = dayHints[0]%>
    <% var hint = getHintIcon(dayHint); %>
    <span class="<%=hint.icon%> <%=hint.color%>" title="<%=hint.hint%>"> <%=hint.text%> <sup><small><%=dayHint.questionsCount%></small></sup></span>
<% } %>

&nbsp;