
<% if(dayEvents.testing) { %>
    <% var testing = dayEvents.testing%>
    <small>
        <strong class="<%=dayEvents.testing.passed ? 'text-success' : 'text-danger'%>" title="<%=testing.passedQuestions%>/<%=testing.totalQuestions%>"><%=(testing.passedQuestions / testing.totalQuestions).toFixed(4) * 100%>%</strong>
    </small>
<% } %>

<% if(dayEvents.lecture) { %>
    <strong class="fa fa-book text-warning" title="Lecture"></strong>
<% } %>

<% if(dayEvents.study) { %>
    <strong class="fa fa-graduation-cap text-warning" title="Study"></strong>
<% } %>

&nbsp;