<div class="row">
    <div class="col-xs-12">
        <small class="text-muted"><%=dayIndex%></small>

        <% if(columnEvents) { %>
            <% if(columnEvents.driving) { %>
                <strong class="pull-right fa fa-car text-primary" title="<%=columnEvents.driving.car.model%> (<%=columnEvents.driving.instructor.name%>) - <%=columnEvents.driving.duration%> m"></strong>
            <% } %>

            <% if(columnEvents.additionalDriving) { %>
                <strong class="pull-right fa fa-car text-success" title="<%=columnEvents.additionalDriving.car.model%> (<%=columnEvents.additionalDriving.instructor.name%>) - <%=columnEvents.additionalDriving.duration%> m"></strong>
            <% } %>
        <% } %>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <small><strong><%=dateTimeService.formatDateFullDisplay(date)%></strong></small>
        <br />
        <small><%=dateTimeService.formatDateDayOfWeek(date)%></small>
    </div>
</div>