.bordered {
    border: 1px silver solid;
}

.no-padding {
    padding: 0 !important;
    margin: 0 !important;
}

.col-fixed-30 {
    width: 30px;
    height: 100%;
    border: 1px silver solid;
}

.col-fixed-60 {
    width: 60px;
    height: 100%;
    border: 1px silver solid;
}

.col-fixed-timeline-day {
    width: 90px;
    height: 100%;
    border: 1px silver solid;
    padding: 0 !important;
    margin: 0 !important;
}

.col-fixed-pdd-section {
    width: 260px;
    height: 100%;
    border: 1px silver solid;
}

.row-fluid {
    overflow: auto;
    white-space: nowrap;
}

.row-fluid .col-xs-1 {
    display: inline-block;
    float: none;
}

/*
.vertical-text{
    width:1px;
    word-wrap: break-word;
    white-space:pre-wrap;
}*/
